---

//microCMS呼び出し
import { log } from "astro/dist/core/logger/core";
import BgTitle from "../../components/bgTitle/BgTitle.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getBlogs } from "../../library/microcms";
const response = await getBlogs({ fields: ["id", "title", "eyecatch", "updatedAt"] });

const tmp = "2023-02-25T05:50:50.580Z";
const dateFormat = (date: string) =>  date.match(/^[0-9]{4}\-[0-9]{2}\-[0-9]{2}/);

---

<BaseLayout title="ブログ一覧">
    <BgTitle>ブログ一覧</BgTitle>

    <div class="wrap mx-auto mt-20">
      <ul class="grid gap-4 grid-cols-3">
        {
          response.contents.map((content: any) => (
            <li>
              <a href={`blog/${content.id}`}>
              <img src={content.eyecatch.url} alt="" class="rounded-lg"/>
              <p class="text mt-2">{content.title}</p>
              <p class="date">{dateFormat(content.updatedAt)}</p>
                </a>
            </li>
          ))
        }
      </ul>
    </div>
</BaseLayout>

<style lang="scss">
  .wrap {
    max-width: 960px;
  }

  .text {
    font-size: 1rem;
  }
  .date {
    font-size: .75rem;
  }

</style>