---
import BaseLayout from '../layouts/BaseLayout.astro';
const someProps = {
	count: 0,
};

---

<BaseLayout>
	<section class="pt-14">
		<div class="inner mx-auto">
			<h2 class="title">フロントエンド</h2>
			<article>
				<ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 py-8">
					<li>
						<a href="" class="shadow-lg shadow-neutral-200 rounded-lg ease-in-out duration-75 transition-all hover:shadow-xl hover:rotate-12">
							<div class="bg aspect-video"></div>
							<div class="py-6 px-8">
								<h2 class="font-bold text-2xl">テスト記事</h2>
								<p class="text-xs text-gray-600 mt-4">2022-01-01</p>

							</div>
						</a>
					</li>
					<li>
						<a href="" class="shadow-lg shadow-neutral-200 rounded-lg ease-in-out duration-75 transition-all hover:shadow-xl hover:rotate-12">
							<div class="bg aspect-video"></div>
							<div class="py-6 px-8">
								<h2 class="font-bold text-2xl">テスト記事</h2>
								<p class="text-xs text-gray-600 mt-4">2022-01-01</p>

							</div>
						</a>
					</li>
					<li>
						<a href="" class="shadow-lg shadow-neutral-200 rounded-lg ease-in-out duration-75 transition-all hover:shadow-xl hover:rotate-12">
							<div class="bg aspect-video"></div>
							<div class="py-6 px-8">
								<h2 class="font-bold text-2xl">テスト記事</h2>
								<p class="text-xs text-gray-600 mt-4">2022-01-01</p>

							</div>
						</a>
					</li>
				</ul>
			</article>
		</div>
	</section>
	<section class="pt-14 is-gray">
		<div class="inner mx-auto">
			<h2 class="title">バックエンド</h2>
			<article>
				<ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 py-8">
					<li>
						<a href="" class="shadow-lg shadow-neutral-200 rounded-lg ease-in-out duration-75 transition-all hover:shadow-xl hover:-top-2">
							<div class="bg aspect-video"></div>
							<div class="py-6 px-8">
								<h2 class="font-bold text-2xl">テスト記事</h2>
								<p class="text-xs text-gray-600 mt-4">2022-01-01</p>

							</div>
						</a>
					</li>
					<li>
						<a href="" class="shadow-lg shadow-neutral-200 rounded-lg ease-in-out duration-75 transition-all hover:shadow-xl hover:-top-2">
							<div class="bg aspect-video"></div>
							<div class="py-6 px-8">
								<h2 class="font-bold text-2xl">テスト記事</h2>
								<p class="text-xs text-gray-600 mt-4">2022-01-01</p>

							</div>
						</a>
					</li>
					<li>
						<a href="" class="shadow-lg shadow-neutral-200 rounded-lg ease-in-out duration-75 transition-all hover:shadow-xl hover:-top-2">
							<div class="bg aspect-video"></div>
							<div class="py-6 px-8">
								<h2 class="font-bold text-2xl">テスト記事</h2>
								<p class="text-xs text-gray-600 mt-4">2022-01-01</p>

							</div>
						</a>
					</li>
				</ul>
			</article>
		</div>
	</section>
	<section class="pt-14">
		<div class="inner mx-auto">
			<h2 class="title">おすすめ書籍</h2>
			<article>
				<ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 py-8">
					<li>
						<a href="" class="shadow-lg shadow-neutral-200 rounded-lg ease-in-out duration-75 transition-all hover:shadow-xl hover:-top-2">
							<div class="bg aspect-video"></div>
							<div class="py-6 px-8">
								<h2 class="font-bold text-2xl">テスト記事</h2>
								<p class="text-xs text-gray-600 mt-4">2022-01-01</p>

							</div>
						</a>
					</li>
					<li>
						<a href="" class="shadow-lg shadow-neutral-200 rounded-lg ease-in-out duration-75 transition-all hover:shadow-xl hover:-top-2">
							<div class="bg aspect-video"></div>
							<div class="py-6 px-8">
								<h2 class="font-bold text-2xl">テスト記事</h2>
								<p class="text-xs text-gray-600 mt-4">2022-01-01</p>

							</div>
						</a>
					</li>
					<li>
						<a href="" class="shadow-lg shadow-neutral-200 rounded-lg ease-in-out duration-75 transition-all hover:shadow-xl hover:-top-2">
							<div class="bg aspect-video"></div>
							<div class="py-6 px-8">
								<h2 class="font-bold text-2xl">テスト記事</h2>
								<p class="text-xs text-gray-600 mt-4">2022-01-01</p>
							</div>
						</a>
					</li>
				</ul>
			</article>
		</div>
	</section>


</BaseLayout>


<style lang="scss">

	article {
		a {
			display: block;
			font-size: 1.6rem;
			position: relative;
			overflow: hidden;
		}
	}
	.is-gray {
		background-color: rgb(247, 247, 247);
	}
	.inner {
		max-width: 960px;
		padding: 0 4rem;
	}
	.title {
		font-size: 2rem;
	}

	.bg {
		background-color: red;
		width: 20rem;
	}

</style>