---
import Counter from '../components/Counter';
import BaseLayout from '../layouts/BaseLayout.astro';
const someProps = {
	count: 0,
};

---

<BaseLayout>
	<Counter {...someProps} client:visible>
		<h1>Hello, React!</h1>
	</Counter>
</BaseLayout>


<style lang="scss">

	main {
		color: red;

		h1 {
			color: purple;
		}
	}

</style>