<footer>
  <div class="inner"></div>
</footer>

<style lang="scss">
  footer {
    background-color: #20232a;
    color: #ffffff;
    padding: 1rem 0 5rem;
  }
  .inner {
    max-width: 1260px;
  }
</style>
