<footer>
  <div class="inner mx-auto text-center">
    <small>&copy;2023 nikawa</small>
  </div>
</footer>

<style lang="scss">
  footer {
    color: #ffffff;
    padding: 1rem 0;
  }
  .inner {
    max-width: 1260px;
  }
</style>
