---
const SITE_TITLE = "ブログ";
---

<header>
  <div class="inner">
    <h2>
      <a href="/" class="title-link">
        {SITE_TITLE}
      </a>
    </h2>
    <nav>
      <a href="/">Home</a>
      <a href="/blog">Blog</a>
      <a href="/about">About</a>
    </nav>
  </div>
</header>

<style lang="scss">
  a {
    display: block;
    height: 100%;
    text-decoration: none;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    height: 4rem;
    color: #ffffff;
    z-index: 1;
    width: 100%;
  }

  .title-link {
    color: #61dafb;
    line-height: 4rem;
  }

  .inner {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 100%;
    margin: 0 auto;
    max-width: 1260px;
  }

  nav {
    display: flex;
    a {
      padding: 0 1rem;
      color: #ffffff;
      font-weight: 300;
      transition: color 0.2s ease-out;
      line-height: 4rem;
      &:hover {
        color: #61dafb;
      }
    }
  }
</style>
